In [93]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [94]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Xining,36.6167,101.7667,26.74,44,100,2.15,CN,2022-01-20 19:18:50
1,1,Beringovskiy,63.0500,179.3167,-20.00,87,4,12.06,RU,2022-01-20 19:09:07
2,2,Coquimbo,-29.9533,-71.3436,69.53,56,0,14.97,CL,2022-01-20 19:18:51
3,3,Bredasdorp,-34.5322,20.0403,62.28,74,0,4.50,ZA,2022-01-20 19:09:06
4,4,Camargo,27.6667,-105.1667,57.27,32,100,13.11,MX,2022-01-20 19:18:51

In [95]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [96]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [97]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [98]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [100]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [101]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [102]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [103]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,Lodja,-3.4833,23.4333,75.99,74,100,0.74,CD,2022-01-20 19:14:26
9,9,Baracoa,20.3467,-74.4958,81.61,66,23,8.16,CU,2022-01-20 19:18:52
10,10,Providencia,28.7167,-111.5833,76.86,38,0,15.52,MX,2022-01-20 19:18:52
12,12,Grand-Santi,4.2500,-54.3833,84.72,63,100,2.51,GF,2022-01-20 19:18:53
14,14,Paraiso,9.8383,-83.8656,80.89,42,8,7.11,CR,2022-01-20 19:16:35
17,17,Poum,-20.2333,164.0167,80.96,76,49,5.77,NC,2022-01-20 19:15:51
18,18,Rikitea,-23.1203,-134.9692,78.48,74,100,9.06,PF,2022-01-20 19:18:54
19,19,Atuona,-9.8000,-139.0333,78.71,73,14,22.28,PF,2022-01-20 19:18:54
23,23,Chimbote,-9.0853,-78.5783,77.40,71,41,14.18,PE,2022-01-20 19:11:35
25,25,Padang,-0.9492,100.3543,76.71,78,100,2.19,ID,2022-01-20 19:14:21

In [104]:
preferred_cities_df.count()

City_ID       149
City          149
Lat           149
Lng           149
Max Temp      149
Humidity      149
Cloudiness    149
Wind Speed    149
Country       149
Date          149
dtype: int64

In [120]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Xining      CN     26.74  36.6167  101.7667
1     Beringovskiy      RU    -20.00  63.0500  179.3167
2         Coquimbo      CL     69.53 -29.9533  -71.3436
3       Bredasdorp      ZA     62.28 -34.5322   20.0403
4          Camargo      MX     57.27  27.6667 -105.1667
5           Bethel      US     34.16  41.3712  -73.4140
6           Aykhal      RU     -9.51  66.0000  111.5000
8           Hobart      AU     55.27 -42.8794  147.3294
11        Thompson      CA     -7.44  55.7435  -97.8558
13  Port Elizabeth      ZA     72.10 -33.9180   25.5701

In [106]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [107]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [108]:
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng              Hotel Name
7         Lodja      CD     75.99  -3.4833   23.4333
9       Baracoa      CU     81.61  20.3467  -74.4958         Hostal Rio Miel
10  Providencia      MX     76.86  28.7167 -111.5833
12  Grand-Santi      GF     84.72   4.2500  -54.3833  Hotel La Villa Couacou
14      Paraiso      CR     80.89   9.8383  -83.8656  Hotel Rinconcito Verde
17         Poum      NC     80.96 -20.2333  164.0167             Gîte kajeon
18      Rikitea      PF     78.48 -23.1203 -134.9692         People ThankYou
19       Atuona      PF     78.71  -9.8000 -139.0333             Villa Enata
23     Chimbote      PE     77.40  -9.0853  -78.5783    Hotel Viera Chimbote
25       Padang      ID     76.71  -0.9492  100.3543          Mercure Padang

In [110]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [111]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [112]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))